body {
  margin: 0;
  background-color: #f2f2f2f2;
  font-family: sans-serif;
}
.navbar {
  background: #fff;
  padding: 1em;
}
.logo {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: black;
  font-family: 1.2em;
}
.logo span {
  color: blue;
}
